In [ ]:
#create an array with 8 rows and 4 columns
import numpy as np
a=np.arange(1,33,1).reshape(8,4)
print(a)

In [ ]:
#random
A=np.random.rand(1) #rand prints the values between 0 and 1
print(A)

In [ ]:
A=np.random.rand(8,4) #rand-range is between 0 and 1
print(A)

In [ ]:
A=np.floor(10*np.random.rand(8,4)) #rand-range is between 0 and 1
print(A)

In [ ]:
np.vsplit(a,4)

In [ ]:
np.hsplit(a,4)

In [ ]:
np.hsplit(a,4)

In [ ]:
np.vsplit(a,(3,5)) #split it after 3rd and 5th row

In [ ]:
np.hsplit(A,4)

In [ ]:
#create an array from 4 rows and 8 columns
np.vsplit(a,(4,8))

In [ ]:
np.hsplit(a,(3,4))

In [ ]:
np.hsplit(b,(3,4))

In [ ]:
np.hsplit(b,4)

In [ ]:
np.vsplit(b,(3,4))

In [ ]:
np.vsplit(b,4)

In [ ]:
np.hsplit(b,(3,7))

In [ ]:
np.hsplit(b,(2,5))

In [ ]:
np.tan(a)

In [ ]:
np.sin(1)

In [ ]:
np.cos(1)

In [ ]:
np.tan(1)

In [ ]:
np.pi

In [ ]:
np.mean(a)

In [ ]:
np.median(a)

In [ ]:
np.var(a)

In [ ]:
a=[np.pi/4,np.pi/3,np.pi/2,np.pi]
print(a)

In [ ]:
np.rad2deg(a)

In [ ]:
np.deg2rad(a)

statistics

In [ ]:
st=np.array([23,45,67,89,21,34])

In [ ]:
np.mean(st)

In [ ]:
np.median(st)

In [ ]:
np.var(st)

In [ ]:
np.std(st)

In [ ]:
c=np.arange(1,5).reshape(2,2)
print(c)

In [ ]:
np.linalg.inv(c)

In [ ]:
np.argmax(c) #it prints the max value index in array

In [ ]:
np.argmin(c) #it prints the min value index in array

In [ ]:
C=np.floor(10*np.random.rand(24)).reshape(6,4)
print(C)

In [ ]:
print(np.argmax(C))

In [ ]:
print(np.argmin(C))

In [ ]:
print(np.argmax(C,axis=0))

In [ ]:
print(np.argmax(C,axis=1))

In [ ]:
print(np.argmin(C,axis=0))

In [ ]:
print(np.argmin(C,axis=1))

searching

In [ ]:
a=np.array([34,58,18,78,12]) #number divisible by 2
print(np.where(a%2==0))

In [ ]:
a=np.array([34,58,18,78,12]) #number not divisible by 2
print(np.where(a%2==1))

In [ ]:
a=np.array([34,58,18,78,12]) #number divisible by 3
print(np.where(a%3==0))

In [ ]:
a=np.array([1,2,3,4,5])

In [ ]:
a=np.searchsorted(a,4)
print(a)

In [ ]:
#sorting array
arr=np.array(['cherry','mango','srinu','masi'])
print(np.sort(arr))

In [ ]:
arr1=np.array([True,False,True,False])
print(np.sort(arr1))

In [ ]:
arr2=np.array([40,42,50,44,67,78])
x=[True,False,True,False,True,False]
newarr=arr2[x]
print(newarr)

In [ ]:
arr=np.array([1,8,5,9,2,7])
flit=np.where(arr%2==0)
print(flit)
arr[flit]

iterating throgh zip arrays

In [ ]:
names=np.array(["srinu","sai","soma","vijay","dp"])
initials=np.array(["T","R","G","S","C"])
for i,j in zip(initials,names):
  print(i,".",j)

In [ ]:
a1=np.array([10,20,30,40,50,60])
a2=np.array([20,21,22,23,24,25])
n=np.multiply(a1,a2)
print(n)

In [ ]:
m=np.divide(a1,a2)
k=np.mod(a1,a2)
n=np.divmod(a1,a2)
print(m)
print(k)
print(n)

logarithms

In [ ]:
#logarithms
a=1.2
print(np.log(a)) #natural log e

In [ ]:
a=1.2
print(np.log2(a)) #natural log base 2

In [ ]:
a=1.2
print(np.log10(a)) #natural log base 10

In [ ]:
a=np.array([1,1.2,3,4])
print(np.log(a)) #natural log e

other mathematical functions

In [ ]:
a2=np.array([5,6,7,8])
x=np.cumprod(a2)
print(x)

In [ ]:
a2=np.array([5,6,7,8])
x=np.cumsum(a2)
print(x)

In [ ]:
a2=np.array([5,6,7,10]) #e2-e1
newarr=np.diff(a2)
print(newarr)

In [ ]:
num1=455
num2=766
x=np.lcm(num1,num2)
print(x)

In [ ]:
num1=455
num2=766
x=np.gcd(num1,num2)
print(x)

In [ ]:
a=np.array([12,15,60])
lc=np.lcm.reduce(a) #takes multiple inputs gives single output
print(lc)